.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

section * {


    display: flex;
    
}

.picture {

    width: 50%;
    padding: 0;
    border: 1px solid black;

}

.content {

    border: 1px solid black;

    width: 50%;

    
}